<div>
  <div class="title">
    <div class="text">Member List</div>
    <div class="flex-end">
      <span class="align"
        ><img class="logo" src="assets/schertech-logo.png" alt="logo" />
      </span>
    </div>
  </div>
  <div class="flex-container">
    <div *ngFor="let item of status">
      <div
        [ngClass]="{
          'dark-red-background': item.status === 'No Task',
          'dark-blue-background': item.status === 'Meeting'
        }"
      >
        <div
          class="task"
          [ngClass]="{
            'red-background': item.status === 'No Task',
            'blue-background': item.status === 'Meeting'
          }"
        >
          <div>{{ item.status }}</div>
          <div class="alignment">
            <span style="display: flex"
              ><img class="clock" src="assets/clock-icon.png" alt="" /> </span
            ><span class="time">{{ item.total_time}}</span>
          </div>
        </div>
        <span class="name">{{ item.user_name }}</span>
      </div>
    </div>
  </div>
</div>
