<div class="d-flex flex-row">
  <!-- Sidebar start -->
  <div
    class="d-inline-flex flex-column justify-content-start justify-content-evenly align-items-center sidebar-frame"
  >
    <div class="d-flex flex-column align-items-center gap-2">
      <div class="sidebar-text">Total</div>
      <div
        class="d-flex justify-content-center align-items-center gap-1 active-style"
      >
        <span
          ><img
            class="sidebar-circle orange-color"
            src="assets/blue_Ellipse.png"
            alt="total"
          />
          <p class="count">{{ total }}</p>
        </span>
      </div>
    </div>
    <div class="d-flex flex-column align-items-center gap-2">
      <div class="sidebar-text">Active</div>
      <div
        class="d-flex justify-content-center align-items-center gap-1 active-style"
      >
        <span
          ><img
            class="sidebar-circle"
            src="assets/Ellipse 114.png"
            alt="active"
          />
          <span>
            <img
              class="sidebar-circle-small"
              src="assets/small_green_ellipse.png"
              alt="active"
            />
            <img
              class="sidebar-icons"
              src="assets/play_icon.png"
              alt="active"
            />
          </span>

          <p class="count">{{ count.active }}</p>
        </span>
      </div>
    </div>
    <div class="d-flex flex-column align-items-center gap-2">
      <div class="sidebar-text">No Task</div>
      <div
        class="d-flex justify-content-center align-items-center gap-1 active-style"
      >
        <span
          ><img
            class="sidebar-circle"
            src="assets/red_ellipse.png"
            alt="No Task"
          />
          <span>
            <img
              class="sidebar-circle-small"
              src="assets/small_red_ellipse.png"
              alt="active"
            />
            <img
              class="sidebar-icons red-color"
              src="assets/close_icon.png"
              alt="active"
            />
          </span>
          <p class="count">{{ count.noTask }}</p>
        </span>
      </div>
    </div>
    <div class="d-flex flex-column align-items-center gap-2">
      <div class="sidebar-text">Deactive</div>
      <div
        class="d-flex justify-content-center align-items-center gap-1 active-style"
      >
        <span
          ><img
            class="sidebar-circle"
            src="assets/gray_Ellipse.png"
            alt="deactive"
          />
          <span>
            <img
              class="sidebar-circle-small"
              src="assets/small_gray_ellipse.png"
              alt="active"
            />
            <img
              class="sidebar-icons gray-color"
              src="assets/pause_icon.png"
              alt="active"
            />
          </span>
          <p class="count">{{ count.deActivated }}</p>
        </span>
      </div>
    </div>
  </div>

  <!-- Sidebar end -->

  <div class="flex-container">
    <div (dblclick)="openModal(status)" *ngFor="let item of status">
      <div class="height" [ngClass]="darkBackgroundColors(item)">
        <div class="task" [ngClass]="backgroundColors(item)">
          <div>{{ item.status | status_deactivate }}</div>
          <div class="alignment">
            <span class="d-flex"
              ><img class="clock" src="assets/clock-icon.png" alt="" /> </span
            ><span class="time">{{ item.total_time }}</span>
          </div>
        </div>
        <div class="d-flex flex-column">
          <div
            class="d-flex px-2"
            [ngClass]="{
              'user_name_height': item.task_name?.length <= 61,
            }"
            [ngStyle]="{
              'justify-content':
                item.status === 'No Task' ? 'center' : 'space-between',
            }"
          >
            <span class="name">{{ item.user_name | shorten : 23 }}</span>
            <span class="name">{{ item.task_id }}</span>
          </div>
          <span
            *ngIf="item.status !== 'No Task'"
            class="task-name px-2 py-2 d-flex text-start"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="{{ item.task_name }}"
            [ngClass]="taskNameStyleCondition(item)"
            [ngStyle]="{
              'justify-content':
                item.task_name.length <= 13 ? 'center' : 'start'
            }"
            >{{ item.task_name | shorten : 115 }}</span
          >
        </div>
      </div>
    </div>
  </div>
</div>
